language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - Refactor---v1.2

php:
  - 5.4
  - 5.5
  - 5.6

env:
  - WP_VERSION=4.0 WP_MULTISITE=0
  - WP_VERSION=4.1 WP_MULTISITE=0
  - WP_VERSION=4.2 WP_MULTISITE=0
  - WP_VERSION=4.3 WP_MULTISITE=0
  - WP_VERSION=4.4 WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=0

matrix:
  include:
    - php: 5.5
      env: WP_VERSION=latest WP_MULTISITE=1

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit
